<header xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <div class="header">
        <a href="/home" class="logo">FINDIFY</a>

        <div class="header-right">

<!--            <form th:method="POST" th:action="@{'/home'}">-->
<!--                <a>-->
<!--                    <select th:name="userOption" th:id="opstina">-->
<!--                        <option th:selected="selected" th:value="all">All amenities in Skopje</option>-->
<!--                        <option th:value="local">Nearby Where I am Now</option>-->
<!--                    </select>-->
<!--                </a>-->
<!--                <a>-->
<!--                    <button th:type="submit" th:value="submit">Search</button>-->
<!--                </a>-->
<!--            </form>-->

            <a href="/home"><i class="fa fa-solid fa-house tm-brand-icon"></i></a>

            <a sec:authorize="isAuthenticated()" href="/profile"><i class="fa fa-solid fa-pen tm-brand-icon"></i></a>
            <a sec:authorize="isAuthenticated()" href="/logout" class="btn btn-light">Logout</a>

            <a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin" class="btn btn-light">Admin</a>

            <a sec:authorize="!isAuthenticated()" href="/logout" class="btn btn-light">Login</a>
        </div>

        <div id="demo" style="color: white;">

        </div>

    </div>
</header>