@import "globals/header.css";
@import "globals/form.css";

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

#eventsSelectionTable td{
    text-align: center;
    padding: 2% 5%;
}

.error {
    color: red;
}

.success {
    color: green;
}

#mapdiv {
    height: 90vh;
}