@import "globals/header.css";
@import "globals/form.css";
@import "globals/footer.css";

html, body {
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

#eventsSelectionTable td{
    text-align: center;
    padding: 2% 5%;
}

.error {
    color: red;
}

.success {
    color: green;
}

#mapdiv {
    height: 100vh;
}

.button--footer {
    padding-inline: 40px;
    padding-block: 12px;

    border-radius: 6px;
}

.button--primary {
    background-color: #161616 !important;
    color: white !important;
}

.stars {
    position: relative;
    background: #161616;

    border-radius: 6px;

    width: fit-content;
    margin-inline: auto;
}

.yellowStars, .whiteStars, .noReviewsYet {
    display: flex;
    gap: 6px;

    padding-block: 6px;
    padding-inline: 12px;
    margin-inline: auto;
}

.yellowStars {
    position: absolute;
    inset: 0;
    z-index: 10;
}

.whiteStars {
    position: relative;
    inset: 0;
}

.star {
    overflow: hidden;
}

.star>div {
    width: 20px;
    height: 20px;
    background: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.whiteStar>div {
    width: 20px;
    height: 20px;
    background: #fff;
    opacity: .4;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star-partial {
    width: var(--starPartial);
}

.star-empty {
    width: 0px;
}

.routePopup>div {
    display: flex;
    align-items: center;
    gap: 6px;
}

.customPopup p, .customPopup h2 {
    margin-block: 2px !important;
}

.markerPopupFacilityType {
    text-align: center;
    width: fit-content;
    margin-inline: auto !important;
    margin-top: .8rem !important;

    font-size: 10px;

    border-radius: 6px;

    padding: 2px 8px;
    background-color: #e6e6fa66;
    color: black;
}

.markerPopupFavouriteButton {
    font-size: 24px;
    color: #ff000033;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.markerPopupFavouriteButton:hover {
    color: #ff000088;
}

.favourited {
    color: #ff0000;
}

.markerPopupReviewButton {
    font-size: 24px;
    color: #ffc10766;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.markerPopupReviewButton:hover {
    color: #ffc107aa;
}

.reviewed {
    color: #ffc107;
}
