<div id="mapdiv"></div>

<script th:inline="javascript">
    function isNumber(str) {
        if (typeof str != "string") return false
        return !isNaN(str) &&
            !isNaN(parseFloat(str))
    }


    /**
     * P5 js code....=======================================================================================================================================
     */
    /*<![CDATA[*/
    var myList = /*[[${amenities}]]*/ "Test";
    var whatToShow = /*[[${userOption}]]*/ "Test1";
    /*]]>*/

    let trainMap;
    // Create a variable to hold our canvas
    let canvas;
    // Create a new Mappa instance using Leaflet.
    const mappa = new Mappa('Leaflet');

    let dropPinAmenity;
    let total = myList.length;

    let offsetEllipse = 100;
    let scalar = 20;
    let angle = 10;

    let localAmenities;
    let allAmenities;



    const options = {
        lat: 41.9965,
        lng: 21.4314,
        zoom: 13.75,
        style: "http://{s}.tile.osm.org/{z}/{x}/{y}.png"
    }

    function preload() {
        // dropPinAmenity = loadImage('static/images/drop_pin_amenity.png');

    }

    // p5.js setup
    function setup() {
        // Create a canvas 640x640
        canvas = createCanvas(windowWidth - 10, windowHeight - 100);
        // Add a grey background
        // background(100);
        trainMap = mappa.tileMap(options);
        // Overlay the canvas over the tile map
        trainMap.overlay(canvas);


        trainMap.onChange(drawPoints);
        trainMap.onChange(myPos);
        console.log(total);
        console.log(whatToShow);

        if(whatToShow === "local") {
            localAmenities = true;
            allAmenities = false;
        } else {
            localAmenities = false;
            allAmenities = true;
        }


    }

    function draw() {
        //myPos();
    }

    function myPos() {
        if(localAmenities) {
            fill(0, 255, 0);
            ellipse(windowWidth / 2, windowHeight / 2, 50, 50);
        }
    }

    function drawPoints() {
        clear();

        fill(255, 0, 0);
        let size = 50;
        size = map(size, 558, 60000000, 1, 70) + trainMap.zoom();

        if (whatToShow === "local") {
            //TODO to do local amenities showing...
            console.log("Showing the first 5...");
            for (let i = 0; i < 5; i++) {
                let px = myList[i].longitude;
                let py = myList[i].latitude;
                const pix = trainMap.latLngToPixel(px, py);

                ellipse(pix.x, pix.y, size, size);
                // image('src/main/resources/static/images/drop_pin_amenity.png', pix.x, pix.y);
            }
        } else {
            console.log("Showing all...");
            for (let i = 0; i < myList.length; i++) {
                let px = myList[i].longitude;
                let py = myList[i].latitude;
                const pix = trainMap.latLngToPixel(px, py);
                ellipse(pix.x, pix.y, size, size);
                // image('src/main/resources/static/images/drop_pin_amenity.png', pix.x, pix.y);
            }
        }
    }


    /**
     * P5 js code....=======================================================================================================================================
     */

    function updateUrlHash() {
        var zoom = map.getZoom();
        var lonLat = map.getCenter().transform(
            new OpenLayers.Projection("EPSG:3857"),
            new OpenLayers.Projection("EPSG:4326")
        );
        window.location.hash = lonLat.lon.toFixed(7) + '/' + lonLat.lat.toFixed(7) + '/' + zoom;
    }

    function logoutFunc() {
        window.location = "login";
        document.write("Logging out...");
        setTimeout('logoutFunc()', 900);
    }


    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    var pathHash = window.location.hash.substring(1).split('/');

    var lon = 21.4248746;
    var lat = 41.9960555;
    var zoom = 14;
    if (pathHash.length === 3) {
        if (isNumber(pathHash[0]))
            lon = pathHash[0];
        if (isNumber(pathHash[1]))
            lat = pathHash[1];
        if (isNumber(pathHash[2]))
            zoom = pathHash[2];
    } else {
        window.location.hash = "21.4248746/41.9960555/14";
    }

    var lonLat = new OpenLayers.LonLat(lon, lat)
        .transform(
            new OpenLayers.Projection("EPSG:4326"),
            new OpenLayers.Projection("EPSG:3857")
        );

    var markers = new OpenLayers.Layer.Markers("Markers");
    map.addLayer(markers);
    var size = new OpenLayers.Size(45, 45);
    var offset = new OpenLayers.Pixel(-(size.w / 2), 0);

    map.setCenter(lonLat, zoom);
    map.events.register('moveend', map, updateUrlHash);

</script>
<script>
    var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        x.innerHTML = "Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude;
    }
</script>
