<footer class="footer" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <button id="buttonManageDistanceRadius" class="button button--footer button--primary" style="width: fit-content;">--</button>
    <button id="buttonManageDrawRoute" class="button button--footer button--primary" style="width: fit-content; display: none;">--</button>

    <button id="buttonAddToFavourites" class="button button--footer button--primary" style="width: fit-content;">Favourite</button>
</footer>