<div id="mapdiv"></div>

<script th:inline="javascript">
    var GLOBALS = {};

    /*<![CDATA[*/
        GLOBALS.facilities = /*[[${facilities}]]*/ "Facilities";
        GLOBALS.mapCoordinatesFromUrl = /*[[${mapCoordinates}]]*/ "Map Coordinates From Url";
    /*]]>*/

    GLOBALS.profiles = {};

    document.documentElement.style.setProperty('--starPartial', '0');
</script>

<div id="markerClickPopup">
    <h2 id="markerPopupFacilityName" style="text-align: center;">--Facility Name--</h2>
    <div id="stars">
        <div id="noReviewsYet" style="color: white;"><i>This place is still not rated.</i></div>
        <div id="yellowStars">
            <div class="star"><div></div></div>
            <div class="star"><div></div></div>
            <div class="star"><div></div></div>
            <div class="star"><div></div></div>
            <div class="star"><div></div></div>
        </div>
        <div id="whiteStars">
            <div class="whiteStar"><div></div></div>
            <div class="whiteStar"><div></div></div>
            <div class="whiteStar"><div></div></div>
            <div class="whiteStar"><div></div></div>
            <div class="whiteStar"><div></div></div>
        </div>
    </div>
</div>

<script src="js/createDropPinIcons.js"></script>
<script src="js/drawInitialMap.js"></script>
<script src="js/geolocation.js"></script>
<script src="js/dropFacilitiesPins.js"></script>
<script src="js/main.js"></script>
