<th:block xmlns:sec="http://www.w3.org/1999/xhtml">
    <div id="mapdiv"></div>

    <script th:inline="javascript">
        var GLOBALS = {};

        /*<![CDATA[*/
            GLOBALS.facilities = /*[[${facilities}]]*/ "Facilities";
            GLOBALS.mapCoordinatesFromUrl = /*[[${mapCoordinates}]]*/ "Map Coordinates From Url";
        /*]]>*/

        GLOBALS.profiles = {};

        document.documentElement.style.setProperty('--starPartial', '0');
    </script>

    <div class="customPopup markerClickPopup" style="width: 300px;">
        <p class="markerPopupFacilityType">--Facility Type--</p>
        <div style="display: flex; gap: 12px; justify-content: center; align-items: center; margin-inline: auto; margin-bottom: 1.6rem !important;">
            <h2 class="markerPopupFacilityName" style="text-align: center;">--Facility Name--</h2>
            <i sec:authorize="isAuthenticated()" class="markerPopupFavouriteButton fas fa-heart"></i>
        </div>
        <div class="stars">
            <div class="noReviewsYet" style="color: white; font-size: 12px;">This place is still not rated.</div>
            <div class="yellowStars">
                <div class="star"><div></div></div>
                <div class="star"><div></div></div>
                <div class="star"><div></div></div>
                <div class="star"><div></div></div>
                <div class="star"><div></div></div>
            </div>
            <div class="whiteStars">
                <div class="whiteStar"><div></div></div>
                <div class="whiteStar"><div></div></div>
                <div class="whiteStar"><div></div></div>
                <div class="whiteStar"><div></div></div>
                <div class="whiteStar"><div></div></div>
            </div>
        </div>
    </div>

    <div class="customPopup routePopup">
        <div>
            <p><strong>Destination:</strong></p>
            <p class="routeDestination"></p>
        </div>
        <div>
            <p><strong>Distance:</strong></p>
            <p class="routeDistance"></p>
        </div>
        <div>
            <p><strong>Walking time:</strong></p>
            <p class="routeWalkingTime"></p>
        </div>
    </div>
</th:block>

<script type="module" src="js/main.js"></script>
