<div class="center">
    <form th:action="@{'/login'}" style="border:1px solid #ccc" th:method="POST">
        <div class="container">
            <h1>Log in</h1>
            <br/>

            <div class="error" th:if="${param.error != null}" th:text="${param.error}"></div>
            <div class="success" th:if="${param.successfullyRegistered != null}">Successfully registered. Please log in now.</div>
            <br/>

            <label>
                <b>Username</b>
                <input type="text" placeholder="Username" name="username" required>
            </label>

            <label>
                <b>Password</b>
                <input type="password" placeholder="Password" name="password" required>
            </label>

            <div>
                <img th:src="*{'data:realCaptcha/jpg;base64,'+ captchaDetailsUser.realCaptcha}" alt="The captcha to enter"/>
            </div>

            <input type="hidden" th:field="*{captchaDetailsUser.hiddenCaptcha}"/>
            <br/>

            <label>
                <b>Enter Captcha</b>
                <input type="text" th:field="*{captchaDetailsUser.captcha}" placeholder="Enter captcha"/>
            </label>

            <div class="clearfix">
                <button type="submit" class="form-submit-btn" style="margin-bottom: 1.5rem;">Log in</button>
                <a href="/register">New here? Create an account.</a>
            </div>
        </div>
    </form>
</div>
