<div class="center">
    <h1>Log in</h1>
    <form th:method="POST" th:action="@{'/login'}">
        <div class="container">

            <input type="text" placeholder="Username" name="username" required>

            <input type="password" placeholder="Password" name="password" required>

            <div th:if="${hasError}" class="error">
                <div th:text="${error}"></div>
            </div>

            <button type="submit">Login</button>

        </div>
        <br/>
        <span class="psw"><a href="/register" class="register">Register</a></span>

    </form>

</div>
